/build*
/.vscode
/cpm_modules
.DS_Store
__pycache__
/documentation/build*
# /scenes/**/*.obj
# /scenes/**/*.exr
# /scenes/**/*.hdr
# /scenes/**/*.jpg
# /scenes/**/*.png
/scenes/**/*2021-*.*
/scenes/**/*.mtl
/scenes/misc
/scenes/meshes